If you would like to run this program, then you will need to have a few things installed.

First of all, make sure that you are running it on Python 3.

Next, make sure that you have the Plotly and Python-Chess libraries installed. These are both available on PyPi.
That means that you can download them with the following commands in your terminal:

pip install plotly
pip install python-chess

Once you have done so, you can run the code!


NOTE: When you run the code, it will render in your browser and will be downloadable as a PNG. However, if you would like to download it to a higher graphical level or in a different format (JPEG, WebP, SVG, PDF, or Interactive HTML) follow the instructions below:

- Go to vivid_chart.py and scroll to the bottom. There you can uncomment the write_html line or the write_file line.
- If you would like to write as HTML, you are done. No need to install anything else.

BUT if you would like to install as PDF/JPEG/WebP/SVG you need the following libraries: psutil, psutil requests, and electron.

Installable with the following commands:
- pip install psutil requests
- pip install psutil
- npm install -g electron@1.8.4 orca 

If you can't do so, go to this webpage where it is explained on how to do so on different systems:https://plotly.com/python/static-image-export/
